<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../src/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <title>About | Muzammil</title>
</head>
<body>
  <header>
    <a href="../index.html" class="logo">ShaikhMuzammil.</a>
    <nav>
      <a href="../index.html">Home</a>
      <a href="about.html" class="active">About</a>
      <a href="education.html">Education</a>
      <a href="projects.html">Projects</a>
      <a href="contact.html">Contact Me</a>
    </nav>
    <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
  </header>

  <section class="about" id="about">
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <p>
            I'm currently pursuing an MSc in Computer Science. I enjoy working with technology, building websites, and constantly learning to improve my skills. I like exploring new tools and turning ideas into real projects.
        </p>
        <p>
            <strong>Programming:</strong> Python (Basic), R<br>
            <strong>Web Design:</strong> HTML, CSS, JavaScript<br>
            <strong>Data & Visualization Tools:</strong> Power BI<br>
            <strong>Office Tools:</strong> Microsoft Word, Excel, PowerPoint<br>
            <strong>GIS Tools:</strong> QGIS (Basic)
        </p>
    </div>
</section>

  <footer>
    <p>&copy; 2025 Shaikh Muzammil. All right reserved</p>
</footer>

<script src="../src/script.js"></script>
</body>
</html>
