<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../src/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <title>Contact | Muzammil</title>
</head>
<body>
  <header>
    <a href="../index.html" class="logo">ShaikhMuzammil.</a>
    <nav>
      <a href="../index.html">Home</a>
      <a href="about.html">About</a>
      <a href="education.html">Education</a>
      <a href="projects.html">Projects</a>
      <a href="contact.html" class="active">Contact Me</a>
    </nav>
    <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
  </header>

  <section class="contact">
    <h2 class="heading">Contact <span>Me</span></h2>
    <form action="#" method="post" class="contact-form">
      <div class="input-box">
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
      </div>
      <textarea name="message" rows="6" placeholder="Your Message" required></textarea>
      <button type="submit" class="btn">Send Message</button>
    </form>
  </section>

  <footer>
    <p>&copy; 2025 Shaikh Muzammil. All right reserved</p>
</footer>

<script src="../src/script.js"></script>
</body>
</html>
