<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../src/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <title>Education | Muzammil</title>
</head>
<body>
  <header>
    <a href="../index.html" class="logo">ShaikhMuzammil.</a>
    <nav>
      <a href="../index.html">Home</a>
      <a href="about.html">About</a>
      <a href="education.html" class="active">Education</a>
      <a href="projects.html">Projects</a>
      <a href="contact.html">Contact Me</a>
    </nav>
    <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
  </header>

  <section class="education">
    <h2 class="heading">My <span>Education</span></h2>
    <div class="education-content">
      <div class="edu-box">
        <h3>SSC</h3>
        <p>Al–Madni Urdu High School<br>Year: 2019 | Percentage: 74%</p>
      </div>
      <div class="edu-box">
        <h3>HSC</h3>
        <p>Maulana Azad College of Arts, Science and Commerce<br>Year: 2021 | Percentage: 87%</p>
      </div>
      <div class="edu-box">
        <h3>B.Sc (General)</h3>
        <p>Maulana Azad College of Arts, Science and Commerce<br>Year: 2024 | Percentage: 68%</p>
      </div>
      <div class="edu-box">
        <h3>M.Sc (Computer Science)</h3>
        <p>Dr. Babasaheb Ambedkar Marathwada University<br>Status: 1st year completed with 85%</p>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Shaikh Muzammil. All right reserved</p>
</footer>

<script src="../src/script.js"></script>
</body>
</html>
